/* Basics */
section {
    position: relative;
    margin: 0 auto;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.separator {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
}
.separator:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 86px;
  height: 2px;
  background-color: #222;
 
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Text */
h1 {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6px;
    text-transform: none;
}

h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

p {
    font-size: 20px;
}

i.fa {
    font-size: 40px;
}

/* Navigation */
 
.navigation {
  position: fixed;
  top: 0; left: 0; bottom: 0;
  height: 100%;
  z-index: 3;
  width: 320px;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
 
.navigation.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
 
.navigation ul {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background: #ffffff;
  opacity: .7;
}
.navigation ul li {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.navigation ul li a {
  display: block;
  height: 100%;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
}
 
.navigation ul li a.current,
.navigation ul li a:hover {
  color: #222;
  background-color: #8dd1ba;
}
 
.navigation .menu-icon {
  color: white;
  font-size: 30px;
  line-height: 1em;
  position: absolute;
  left: 100%;
  padding: 20px;
 
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
 
.navigation .menu-icon.active {
  background-color: rgba(0,0,0, .3);
}
.navigation .menu-icon:hover {
  color: #222;
  background-color: transparent;
}

/* Hero */
#hero {
    background-image: url(images/hero.png);
    text-align: center;
}

.hero h1 {
    margin: 0 auto;
}

/* Introduction */
#intro {
    text-align: center;
    padding: 50px 0;
}

/* Images */
#images {
    background: #e8e8e8;
    padding: 50px 0;
}

#images .first-image, #images .second-image {
    text-align: center;
}

/* Contact */
#contact {
    background-image: url(images/hero.png);
    background-position: center;
    text-align: center;
    padding: 50px 0;
}

#contact i.fa {
    color: #000000;
}
/* Footer */
